.new {
  display: flex;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      display: flex;
      margin: 20px;
      padding: 20px 25px;
      box-shadow: var(--box-shadow);
      -webkit-box-shadow: var(--box-shadow);
    }

    .bottom {
      padding: 35px 10px;

      .left {
        flex: 1.15;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        label {
          img {
            width: 150px;
            height: 150px;
            border: 1px solid var(--primary-color);
            border-radius: 10px;
            margin: 5px 10px;
            object-fit: cover;
            cursor: pointer;
          }
        }
      }

      .right {
        flex: 2;

        form {
          padding: 0 25px;

          .wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-around;
            column-gap: 40px;
            row-gap: 25px;

            select {
              width: 75%;
              font-size: 16px;
              margin-top: 10px;
              padding: 10px 25px 10px 15px;

              option {
                margin: 5px 0;
              }
            }

            .selectRooms {
              width: 100%;

              select {
                height: 100%;
                padding: 5px 25px;
              }
            }

            .formInput {
              width: 100%;

              label {
                font-weight: 700;
                color: var(--primary-color);
              }

              input {
                width: 100%;
                margin-top: 10px;
                border: none;
                border-bottom: 1px solid var(--gray-color);
                outline: none;

                &::placeholder {
                  font-size: 16px;
                }
              }
            }
          }

          button {
            width: 200px;
            font-size: 16px;
            color: var(--white-color);
            background: var(--secondary-color);
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 15px 30px;
            transition: var(--transition);
            cursor: pointer;

            &:hover {
              background: var(--primary-color);
            }
          }
        }
      }
    }
  }
}
