.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: 80vh;
  margin: 50px 0;

  input {
    width: clamp(15rem, 75vw, 35rem);
    height: 50px;
    font-size: 16px;
    border: 1px solid var(--gray-color);
    outline: none;
    padding: 5px 15px;
  }

  button {
    width: 200px;
    font-size: 16px;
    color: var(--white-color);
    background: var(--secondary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 25px;
    padding: 15px 30px;
    transition: var(--transition);
    cursor: pointer;

    &:hover {
      background: var(--primary-color);
    }
  }
}
